newlibs/HL7collection/HL7combine.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="HL7combine">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
                				                <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" minOccurs="0" name="FHS">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" minOccurs="0" name="field1" type="xsd:string"/>														
                            						<xsd:element minOccurs="0" name="field2" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field3" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field4" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field5" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field6" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field7" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
                				                <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" minOccurs="0" name="BHS">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" minOccurs="0" name="field1" type="xsd:string"/>														
                            						<xsd:element minOccurs="0" name="field2" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field3" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field4" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field5" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field6" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field7" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:terminator="" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="field1" type="xsd:string"/>
                                                        						                                                </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                                			                                                                    <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" minOccurs="0" name="BTS">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" minOccurs="0" name="field1" type="xsd:string"/>														
                            						<xsd:element minOccurs="0" name="field2" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field3" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field4" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field5" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field6" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field7" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" minOccurs="0" name="FTS">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" minOccurs="0" name="field1" type="xsd:string"/>														
                            						<xsd:element minOccurs="0" name="field2" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field3" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field4" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field5" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field6" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field7" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>